ul.sub_navigation
{
	position: absolute;
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	min-width: 150px;
	background-color: white;
}

ul.sub_navigation li
{
	clear: both;
}

.dropdownlink
{ 
	display: block;
}

.right
{
	float: right;
}

.button
{
	border-radius:4px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.messageBlock
{
	background-color: #ebebeb;
	padding: 10px;
	border-radius: 4px;
}

.titleBlock
{
	padding: 10px;
	padding-left: 17px;
	border-radius:4px;
	z-index:-1;
}

.categoryBlock
{
	background-color: #ebebeb;
	display: block;
	height: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
}

.titleSubCategory 
{
	border-bottom: 1px black solid;
	padding-bottom: 5px;
}

.titleSubCategoryLink
{
    display: block;
	text-decoration:none!important;
}

.infoSubCategory 
{
	padding-top: 10px;	
}

.replyTable
{
	background-color: #ebebeb;
	margin: 10px;
	margin-left: auto; 
    margin-right: auto;
	border-radius: 4px;
}

.replyTabelUsernameTD
{
	font-weight: bold;
	padding: 10px;
}

.replyTabelDateTD
{
	text-align: right;
	padding: 10px;
}


.replyTableTD
{
	padding: 10px;
}

.replyForm 
{
	background-color: #ebebeb;
	margin: 10px;
	margin-left: auto; 
    margin-right: auto;
	border-radius: 4px;	
	padding: 10px;
}

.replyTextarea 
{
	border-radius: 4px;
	min-width: 100%; 
    max-width: 100%; 
	min-height: 100px;
    max-height: 100px;
}
